.navbar-nav {
  margin-right: 30px;
}
.navbar-brand {
  margin-left: 30px;
}
#login-error {
  color: #e31337;
  display: none;
}

#create-game-error,
#details-error,
#requests-error,
#join-error {
  color: #e31337;
}
#create-game-success,
#requests-success,
#join-success {
  color: green;
}
