.navbar-nav {
  margin-right: 30px;
}
.navbar-brand {
  margin-left: 30px;
}
#login-error {
  color: #e31337;
  display: none;
}

#create-game-error,
#details-error,
#requests-error,
#join-error,
#submit-move-error {
  color: #e31337;
}
#create-game-success,
#requests-success,
#join-success {
  color: green;
}

#game-canvas {
  border: 1px solid #000;
  border-radius: 5%;
  margin-top: 5px;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.loading-wheel {
  width: 20px;
  height: 20px;
  margin-top: -40px;
  margin-left: -40px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-width: 30px;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
}
.style-2 .loading-wheel {
  border-style: double;
  border-color: #ccc transparent;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
#loading,
#your-turn,
#waiting-other,
#waiting-all,
#submit-move-btn,
#game-finished,
#waiting-join {
  display: none;
}

#submit-move-btn {
  width: 50%;
  margin: 0px;
  margin-top: 5px;
}
